.App-container {
  --background: #F2F3F7;
}

.App-header {
  position: relative;
  font-family: var(--ion-font-family,inherit);
  background-color: #273EAE;
  height: 300px;
  display: flex;
  justify-content: center;
  color: white;
}

.App-logo {
  position: absolute;
  top: 18px;
  left: 30px;
  height: 60px;
  width: 110px;
}

.App-title {
  letter-spacing: 0.04em;
  margin-top: 35px;
  margin-left: 80px;
  font-size: 20px;
  font-weight: 700;
}

.App-form {
  position: absolute;
  top: 70px;
  width: calc(100% - 32px);
  z-index: 11;
  background-color: #ffffff;
}

.App-form-content {
  position: relative;
}

.App-select-container {
  --padding-start: 0;
}

.App-form-date {
  color: #F7A033;
}

.App-form-title {
  color: #0b1545;
}

.App-select-label {
  max-width: 70px;
}

.App-select {
  min-width: calc(100% - 70px);
}

.App-add-button {
  margin-left: calc(100% - 50px);
  margin-top: 12px;
  width: 50px;
}

.App-main-content {
  margin-top: 140px;
}

.App-task-card {
  background-color: #5B7DEB;
  color: #ffffff;
  box-shadow: 0 4px 16px rgba(0,0,0,.4);
}

.App-task-date {
  color: #38C2CF;
}

.App-task-title {
  color: #ffffff;
  font-size: 20px;
}