.App-container {
  --background: #F2F3F7;
}

.App-header {
  position: relative;
  font-family: var(--ion-font-family,inherit);
  background-color: #273EAE;
  height: 300px;
  display: flex;
  justify-content: center;
  color: white;
}

.App-logo {
  position: absolute;
  top: 18px;
  left: 30px;
  height: 60px;
  width: 110px;
}

.App-title {
  letter-spacing: 0.04em;
  margin-top: 35px;
  margin-left: 80px;
  font-size: 20px;
  font-weight: 700;
}

.App-log-out {
  position: absolute;
  top: 20px;
  right: 10px;
  --background: transparent;
}

.App-form {
  position: absolute;
  top: 70px;
  width: calc(100% - 32px);
  z-index: 11;
  background-color: #ffffff;
}

.App-form-content {
  position: relative;
}

.App-select-container {
  --padding-start: 0;
}

.App-form-date {
  color: #F7A033;
}

.App-form-title {
  color: #0b1545;
}

.App-select-label {
  max-width: 70px;
}

.App-select {
  min-width: calc(100% - 70px);
}

.App-add-button {
  margin-left: calc(100% - 50px);
  margin-top: 12px;
  width: 50px;
}

.App-add-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.App-main-content {
  margin-top: 140px;
}

.App-task-card {
  background-color: #5B7DEB;
  color: #ffffff;
  box-shadow: 0 4px 16px rgba(0,0,0,.4);
  /* transition: height 1s linear; */
  min-height: 160px;
}

.App-task-card .App-select-container  {
  --background: #5B7DEB;
  color: #fff;
  margin-top: 10px;
}

.App-task-card  .ion-md-close {
  font-size: 20px;
  line-height: 20px;
  margin-left: calc(100% - 20px);
  margin-bottom: 8px;
}

.App-task-date {
  color: #38C2CF;
}

.App-task-title {
  color: #ffffff;
  font-size: 20px;
}

.App-task-status {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 30px;
  height: 10px;
}

.App-task-full-status {
  position: absolute;
  top: 14px;
  left: 14px;
}

.App-save-button {
  margin-left: 10px;
  margin-top: 10px;
}

.App-delete-button {
  margin-left: calc(100% - 180px);
  margin-top: 10px;
}

.App-login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 30px);
  margin-top: 50%;
  margin-left: 50%;
  transform: translateX(-50%) translateY(10%);
}

.App-login-input {
  width: 100%;
  margin-right: 12px;
}

.App-login-image {
  height: 70px;
  margin-left: 30px;
}

.App-login-button {
  margin-top: 26px;
}